/*
CSS sheet for united web
map

body {
font : 12pt "Tahoma", "Arial", sans-serif;
}*/

/*#legend{
margin-right: 0em;
position: relative;


}
#map{

margin-left:1em;
padding: 1em 1em;


}*/
#mainInfo{
float: center;
}

#map {
font : 12pt "Tahoma", "Arial", sans-serif;
float: left;

}
#legend {
font : 12pt "Tahoma", "Arial", sans-serif;
float: right;
}
footer{
clear: left;
}